.node {
  padding: 5px;
  display: inline-block;
  border: 1px dotted;
  border-color: gray;
}

.row {
  display: block;
}

.selected {
  outline: 2px solid;
  outline-color: blue;
}

.target {
  color: blue;
}

.action {
  border: 1px solid;
  padding: 5px;
  display: inline-block;
}

.wrapper {
  display: flex;
}

.column {
  flex: 1;
}

.indent {
  margin-left: 40px;
}
