.node {
  border: 1px solid;
  padding: 5px;
  display: inline-block;
}

.selected {
  color: red;
}

.action {
  border: 1px solid;
  padding: 5px;
  display: inline-block;
}

.wrapper {
  display: flex;
}

.column {
  flex: 1;
}
