.node {
  padding: 5px;
  display: inline-block;
  border: 1px dotted;
  border-color: gray;
  cursor: default;
}

.row {
  display: block;
}

.selected {
  outline: 2px solid;
  outline-color: blue;
}

.hover {
  background-color: rgba(104, 104, 250, 0.431);
}

.target {
  color: blue;
}

.placeholder {
  background-color: black;
  color: white;
  font-size: small;
}

.action {
  border: 1px solid;
  padding: 5px;
  display: inline-block;
}

.column {
  flex: 1;
}

.fragment-type {
  border: solid 1px black;
  font-size: 0.8em;
  opacity: 0.4;
  background-color: black;
  color: white;
}

.indent {
  margin-left: 40px;
}

.keyword {
  color: fuchsia;
}

.kind {
  color: blue;
}

.literal {
  color: red;
}

input:focus, textarea:focus {
  outline: none;
}
